{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="bg-vd-brown">
    <div class="container">
        <h2>Add Slide</h2>
    </div>
    <div>
        <p>Fill out the form below to finish signing up for your slide</p>
        <form action="{% url 'add_slide' %}" method="POST" id="add-slide-form">
            {% csrf_token %}
            <div>
                {{ form|crispy }}
            </div>
            <button id="submit-button">
                <span>Add Slide</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
