{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="bg-vd-brown">
    <div class="container p-3">
        <h2>Add a Slide</h2>
        <div class="text-l-brown">
            <p>Fill out the form below to add a new slide to the home page</p>
            <form action="{% url 'add_slide' %}" method="POST" id="add-slide-form">
                {% csrf_token %}
                <div>
                    {{ form|crispy }}
                </div>
                <div class="text-center">
                    <button id="submit-button" class="btn btn-d-bronze btn-lg m-3">
                        <span>Add Slide</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
