{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="bg-vd-brown">
    <div class="container p-4">
        <h2>My Profile</h2>
        <div class="row">
            <div class="col-12 col-lg-6 p-3">
                <p>Default Information</p>
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center">
                        <button class="btn btn-d-bronze ">Update</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-6 p-3">
                <p>Subscription History</p>
                <div class="subscription-history table-responsive">
                    <table class="table table-sm table-borderless text-l-brown">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Subscription Type</th>
                                <th>Price</th>
                            </tr>
                            <tbody>
                                {% for subscription in subscriptions %}
                                    <tr>
                                        <td>{{ subscription.order_number }}</td>
                                        <td>{{ subscription.date }}</td>
                                        <td>{{ subscription.subscription_type }}</td>
                                        <td>£{{ subscription.subscription_price }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}