html {
    width: 100%;
}

h2,
h3,
h5 {
    color: #B16D12;
}

h6 {
    color: #2F1502;
}

.container {
    color: #fff;
    text-align: center;
}

.list-group-item {
    background-color: transparent;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #fff;
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #B16D12;
}

.icon-smoky-black {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: #140901;
}

nav .icon:hover {
    color: #8A4900
}

/* bootstrap extended classes */

.text-l-brown {
    color: #B16D12;
}

.text-smoky-black {
    color: #140901;
}

.bg-smoky-black {
    background-color: #140901;
}

.bg-vd-brown {
    background-color: #2F1502;
}

.bg-d-bronze {
    background-color: #8A4900;
}

.btn-d-bronze {
    color: #140901;
    background-color: #8A4900;
    border-color: #8A4900;
}

/* font awesome extended classes */

.fa-xl {
    font-size: 3rem;
}

/* forms */

form {
    text-align: left;
}

form input, button, p{
    margin: 10px 0;
}

/********************************* header/navbar */   

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
    color: #B16D12;
    text-transform: uppercase;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #8A4900;
}

.navbar-dark {
    color: #B16D12;
}

.navbar-toggler {
    color: #B16D12;
    background-color: #2F1502;
}

/********************************* index */

.carousel img {
    height: 440px;
}

/********************************* stripe */

/* from https://github.com/ckz8780/boutique_ado_v1/blob/a75791ce63bfce9a05f614d7712199c893063ed9/checkout/static/checkout/css/checkout.css */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/********************************* Media Queries */

@media (max-width: 768px) {
    .carousel img{
        height: 300px;
    }
}