html {
    width: 100%;
}

h2, 
h6 {
    color: #B16D12;
}

.container {
    color: #fff;
    text-align: center;
}

/* from Bulma */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* bootstrap extended classes */

.text-l-brown {
    color: #B16D12;
}

.bg-smoky-black {
    background-color: #140901;
}

.bg-vd-brown {
    background-color: #2F1502;
}

.bg-d-bronze {
    background-color: #8A4900;
}

.btn-d-bronze {
    color: #140901;
    background-color: #8A4900;
    border-color: #8A4900;
}

/********************************* header/navbar */   

.navbar-brand, 
.nav-link {
    text-transform: uppercase;
    color: #B16D12;
}

.navbar-brand:hover, 
.nav-link:hover {
    color: #8A4900;
}

/********************************* index */   

.carousel img {
    height: 440px;
}

