{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="bg-vd-brown">
    <div class="container">
        <h2>Add Category</h2>
    </div>
    <div>
        <form action="{% url 'add_category' %}" method="POST" id="add-category-form">
            {% csrf_token %}
            <div>
                {{ form|crispy }}
            </div>
            <button id="submit-button">
                <span>Add Category</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
