{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="bg-vd-brown">
    <div class="container">
        <h2>Thankyou</h2>
    </div>
    <div>
        <p>Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
        <p>Your subscription for {{ order.subscription_type }} was successful! We look forward to seeing you.</p>
    </div>
    {% if from_profile %}
        <a href="{% url 'profile' %}" class="btn btn-d-bronze">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
                <span>Back to Profile</span>
            </span>
        </a>
    {% else %}
        <a href="{% url 'home' %}" class="btn btn-d-bronze">
            <span class="icon">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </span>
        </a>
    {% endif %}
</div>    
{% endblock %}
